# EtherLab master configuration.
#
# Replace ff:ff:ff:ff:ff:ff with the MAC address of the NIC connected to the
# EtherCAT chain.

MASTER0_DEVICE="ff:ff:ff:ff:ff:ff"
DEVICE_MODULES="igb igc ccat generic"
